body {
	background-image: url(../images/metalicbackground.jpg);
	background-size: cover;
	background-position: top center;
}

#containerlayout{
	margin-left: 0px;
}

#leftCol {
	padding: 0px;
	margin: 0 auto;
}

.pdheaders{
	font-size: 48px;
}

.pdcontent {
	font-size: 20px;
}

footer {
	color: black;
	text-align: center;
	background-color: white;
	padding: 2px;
}