body {
	background-image: url(../images/housebackground.jpg);
	background-size: cover;
	background-position: top center;
}

h1 {
	text-align: center;
	border-bottom: solid white;
}

li {
	list-style-type: none;
}

#summary {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 26px;
	color: black;
	background-color: gray;
	line-height: 200%;
	vertical-align: center;
}
